<a href="https://colab.research.google.com/github/bits-blitzz/my_first_repo/blob/main/functions_practical_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##### Q1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in
the list.

In [ ]:
def sum_even(n):
    sum=0
    for i in n:
        if i%2==0:
            sum=sum+i
    return sum

check=[3,4,5,6,7,8]
sum_even(check)

18

In [ ]:
#By taking input
lis=input("Please enter a list of number separated with comma").split(",")
lis=list(map(int,lis))
sum_even(lis)

Please enter a list of number separated with comma 3,4,5,6,7,8

18

#####  Q2. Create a Python function that accepts a string and returns the reverse of that string

In [ ]:
def rev_str(m):
    re_str=""
    for i in m:
        re_str=i+re_str
    return re_str

rev_str("Ratan")

'nataR'

In [ ]:
m=input("Please Enter a string")
rev_str(m)

Please Enter a string Hello Sir! have I done the assignment well?

'?llew tnemngissa eht enod I evah !riS olleH'

##### Q3.Implement a Python function that takes a list of integers and returns a new list containing the squares of
each number.

In [ ]:
def sq_lis(lis):
    squared_list=[]
    for i in lis:
        squared_list.append(i**2)
    return squared_list

In [ ]:
#By taking input
lis1=input("Please enter a list of number separated with comma").split(",")
lis1=list(map(int,lis1))
sq_lis(lis1)

Please enter a list of number separated with comma 2,3,4,5,6

[4, 9, 16, 25, 36]

##### Q4. Write a Python function that checks if a given number is prime or not from 1 to 200

In [ ]:
def is_prime(n):
    if n==1:
        return "It is niether prime nor composite"
    if n==2:
        return "It is a prime number"
    for i in range(2,int(n/2)+1):
        if n%i==0:
            return("It is not Prime number")

    return "The number is Prime"

num=int(input("Please Enter a number between 1 to 200"))
is_prime(num)

Please Enter a number between 1 to 200 3

'The number is Prime'

#### Q5. Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of
terms.

In [ ]:
def fib(n):
    a=0
    b=1
    li=[]
    for i in range(n):
        li.append(a)
        temp=a
        a=b
        b=temp+b
    return li

inp=int(input("Please enter number of terms"))
iter(fib(inp))

Please enter number of terms 10

In [ ]:
iter_obj=iter(fib(inp))

In [ ]:
next(iter_obj)

0

In [ ]:
next(iter_obj)

1

In [ ]:
next(iter_obj)

1

#### Q6. Write a generator function in Python that yields the powers of 2 up to a given exponent.

In [ ]:
def two_pow(n):
    for i in range(n+1):
        yield 2**i

j=two_pow(4)

next(j)

1

In [ ]:
next(j)

2

In [ ]:
next(j)

4

#### Q7. Implement a generator function that reads a file line by line and yields each line as a string.

In [ ]:
def read_lines_until_period(file_path):
    with open(file_path, 'r') as file:
        for line in file:
            # Yield the part of the line up to the first full stop
            yield line.split('.')[0] + '.' if '.' in line else line.strip()


read_lines_until_period('example.txt')

In [ ]:
o=read_lines_until_period('example.txt')
next(o)

'Machine learning (ML) has revolutionized the way we approach data analysis and problem-solving across various fields.'

#### Q8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.

In [ ]:
l=[(2,3,5),(3,1,2),(9,2,7),(2,4,6)]

sorted_list=sorted(l,key=lambda x:x[1])

In [ ]:
sorted_list

[(3, 1, 2), (9, 2, 7), (2, 3, 5), (2, 4, 6)]

#### Q9.Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit

In [ ]:
converter=lambda x: (x*(9/5))+32

temp_in_cel=[32,0,100,101]
temp_in_faren=list( map(converter,temp_in_cel))

In [ ]:
temp_in_faren

[89.6, 32.0, 212.0, 213.8]

#### Q10. Create a Python program that uses `filter()` to remove all the vowels from a given string

In [ ]:
given_str="Hlo Sir! have I made the assignment good?"
vowels="aeiouAEIOU"
final=''.join(filter(lambda x : x not in vowels,given_str))

In [ ]:
print(final)

Hl Sr! hv  md th ssgnmnt gd?

#### Q11.

In [ ]:
accounting_list=[[34587,"Learning Python,Mark Lutz", 4, 40.95],
                 [98762 ,"Programming Python , Mark Lutz", 5, 56.80],
                 [77226,"Head First Python, Paul Barry", 3, 32.95],
                 [88112,"Einfuhurng in Python 3, Bernd Klein",3,24.99]]

def bill(accounting_list):
    bill_list=[]
    for i in accounting_list:
        order_number= i[0]
        price_per_item=i[3]
        quantity=i[2]

        tot_price= price_per_item*quantity

        if tot_price<100:
            tot_price+=10

        bill_list.append((order_number,round(tot_price,2)))

    return bill_list

In [ ]:
bill(accounting_list)

[(34587, 163.8), (98762, 284.0), (77226, 108.85), (88112, 84.97)]

##### USING LAMBDA AND MAP

In [ ]:
l= [[34587,"Learning Python,Mark Lutz", 4, 40.95],
                 [98762 ,"Programming Python , Mark Lutz", 5, 56.80],
                 [77226,"Head First Python, Paul Barry", 3, 32.95],
                 [88112,"Einfuhurng in Python 3, Bernd Klein",3,24.99]]

bill=lambda l: (l[0], (l[2]*l[3])+(3 if l[2]*l[3]<100 else 0))

bill_final = list(map(bill,l))

In [ ]:
bill_final

[(34587, 163.8), (98762, 284.0), (77226, 101.85000000000001), (88112, 77.97)]